.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 200px;
  //   border: 1px solid red;
  margin-top: 50px;
}

.nameField {
  width: 80%;
}

.selectFields {
  display: flex;
  width: 80%;
  margin-top: 10px;
  gap: 10px;
}

.buttonSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #fed18c;
  color: #ffffff;
  background-color: #fed18c;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
