.recipesList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    height: 230px;
    width: 230px;
    border-radius: 5px;
    background-color: #F7F8FA;
    border: 1px solid #F7F8FA;
    cursor: pointer;
  }

}