.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  width: 500px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #F4F5F7;
  padding: 20px 0;

  &__nameInput {
    width: 90%;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 25px;
  }

  &__submitButton-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__submitButton {
    padding: 7px 25px;
    border-radius: 5px;
    border: 1px solid #2663D1;
    color: #2663D1;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  &__submitButton:hover {
    background-color: lighten(#2663D1, 47);
  }



}
