
.searchForm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  gap: 10px;
}

.searchForm {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;

  &__nameInput {
   width: 100%;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  &__submitButton-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__submitButton {
    padding: 7px 25px;
    border-radius: 3px;
    border: 1px solid #2663D1;
    color: #2663D1;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  &__submitButton:hover {

    border: 1.5px solid #2663D1;
    transition: border 0.1s;

  }

}
