.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 200px;
  margin-top: 50px;

  &__nameInput {
    width: 80%;
  }

  &__ingredients {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 10px;
  }
}
