.header {
  display: flex;
  height: 50px;
  font-family: "Roboto", sans-serif;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 150px;
}
