.form-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #425466;

  &__label {
    font-size: 14px;
    margin-left: 2px;
  }

  &__field {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 10px;
    text-indent: 5px;
    border-radius: 2px;
  }
}
