html,
body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {

  display: grid;
  grid-template-columns: 30% 1fr;
  min-height: 100vh;

  &__leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rightPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken(#F7F8FA, 3);
    border: 1px solid #F7F8FA;
  }

}

