html,
body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
    max-width: 1000px;
  }

}

